<h1>Show Doctor</h1>

<%= @doctor.name %>

<p>Appointments</p>

<%= @doctor.patients.each do |patient| %>
<%= link_to patient.name, patient_path(patient) %>
<% end %>

<p>Appointments times</p>

  <%= @doctor.appointments.each do |appointment| %>
  <div><%= appointment.change_time %></div>
  <% end %>
